body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;

}
a {
    font-weight: normal;
    color: #0000ff;
    text-decoration: none;
}
a:hover {
    color: #c00; 
    background: #ffe7e7;
    text-decoration: underline;
}

